<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/github_ribbon.css" />
		<title>{{ page.title }}</title>
	</head>

	<body>
		<!-- <a href="http://github.com/Daenyth"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a> -->
		<div class="myribbon">
			<a href="http://github.com/Daenyth">
				<span>Fork me on GitHub</span>
			</a>
		</div>

		<h1>{{ page.title }}</h1>

		{{ content }}
	</body>
</html>

<!-- vim: set ts=2 sw=2 noet : -->
