<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/github_ribbon.css">
		<title>{{ page.title }}</title>
	</head>

	<body>
		<div id="bagofholding">
			<div class="myribbon">
				<a href="http://github.com/Daenyth">
					<span>Fork me on GitHub</span>
				</a>
			</div>

			<h1> {{ page.title }} </h1>
			<div id="content"> {{ content }} </div>
		</div>
	</body>
</html>

<!-- vim: set ts=2 sw=2 noet : -->
